
/* */
@media (min-width: 1200px) {
    .container{
        max-width: 70%;
   }
}


.main {
    border-bottom: #333 1px solid;
    padding:30px
}

.artist-thumb {
    width: 100px;
    height: auto;
    float: left;  /* this is important to get image left side with label */
    margin-right: 10px;
}

.artist-header {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: #333 1px solid;
}

.album-image {
    width: 100%;
}

.artist-albums .well{
    min-height: 350px;
    overflow: auto;
    margin-bottom: 20px;
    border: #333 1px solid;
}

.album {
    text-align: center;
    background: #333;
    padding: 10px 20px;
    border: #666 1px solid;
    
}
 