Album Details...

<div *ngIf='album'>

    <header class='album-header'>
        <div class='row' >
            <div class='col-md-4'>
                <img class='img-thumbnail' src='{{album.images[0].url}}' >
            </div>
            <div class='col-md-8'>
                <h4 *ngIf='album.artists.length > 0'>
                    <span *ngFor='let artist of album.artists'> {{artist.name}} </span>
                </h4>
                <h2> {{album.name}} </h2>
                <h5> Release Date: {{album.release_date}} </h5>
                <a href='{{album.external_urls.spotify}}' class='btn btn-info' target='_blank' > View in Spotify </a>
            </div>
        </div>
    </header>

    <div>
        <h2>Album Tracks</h2>
        
        <div *ngFor='let track of album.tracks.items'>
            <div class='row well'>
            {{track.track_number}} - {{track.name}}
            <p> <a href='{{track.preview_url}}' target='_blank' > Preview Track </a> </p>
            </div>
        </div>
        

    </div>

</div>
